body {
  background: #121212 url('../img/zwartevilt.png');
  color: #d9d9d9;
}

a {
  color: #db5a7f;
}

a:focus,
a:hover
{
  color: #d993a7;
  text-decoration: none;
}

/* Prevent FOUC (flash of unstyled content) for top bar */
.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }
  .no-js .title-bar {
    display: none;
  }
}
/* End of FOUC prevention for top bar */

.top-bar {
  border-bottom: 2px solid #a62139;
  box-shadow: 0 0 7px 2px rgba(166, 33, 57, 1.0);
  padding: 0.3rem;
}

.top-bar,
.top-bar ul {
  background-color: #000000;
  color: #9d9d9d;
}

.menu .menu-text {
  padding: 0.5rem 2.5rem;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 5px;
}

.dropdown > li > a {
  color: #9d9d9d;
}

.dropdown > li > a:hover {
  color: #ffffff;
}

.dropdown > li > a:focus,
.dropdown > li > a:hover {
  box-shadow: 0 -2px 0 0 rgba(166, 33, 57, 1.0) inset;
}

/* TODO: Add a pink box-shadow bottom to active links */
.dropdown.menu > li.is-active > a,
.dropdown.menu > li.is-active > a:focus,
.dropdown.menu > li.is-active > a:hover
{
  box-shadow: none;
  /* box-shadow: 0 -2px 0 0 rgba(166, 33, 57, 1.0) inset; */
  background-color: transparent;
}

.dropdown.menu > li.is-active > a,
.dropdown.menu > li.is-active > a:focus
{
  color: #a62139;
}

.dropdown.menu > li.is-active > a:hover
{
  color: #a92f41;
}

div.thumbnail > img {
  width: 100%;
}

#home-orbit-container {
  max-height: 25em;
}

#home-orbit-container {
  border-bottom: 2px solid #222222;
}

#main-content-banner {
  text-align: center;
}

.card {
  border: 1px solid #444444;
}

.card,
.card-divider {
  background: #333333;
  color: #d9d9d9;
}

.blog-post-image {
  text-align: center;
}

#contact-details {
  border: 1px dashed #333333;
}

#social-media-icons p {
  margin: 0 auto;
}

#social-media-icons a {
  padding-right: 1.2em;
}

#social-media-icons a img {
  opacity: 0.85;
}

#social-media-icons a:hover img {
  opacity: 1;
}

#footer {
  /* margin-bottom: 0; */
  background-color: #000000;
  border-top: 2px solid #a62139;
  box-shadow: 0 0 5px 2px rgba(166, 33, 57, 1.0);
  padding: 0.9% 0;
}

.copyright-msg {
  border-top: 1px solid #252525;
  margin: 1% 5%;
  padding-top: 0.7%;
  color: #777777;
  font-size: 0.8em;
  text-align: right;
}
