/* -----------------------------------
ZURB Foundation Phixed Dark Theme

Author:  Phixyn
Version: 0.0.3
----------------------------------- */

/* -----------------------------------
TODO:
 * Move color-related bla at the top
   * Variables
 * Buttons and labels (dark theme colors)
 * Orbit + Orbit images
----------------------------------- */

/* -----------------------------------
    COLORS
----------------------------------- */

:root {
  --background-dark-color: #000000;
  --background-dark-color-alpha: rgba(0, 0, 0, 1.0);
  --background-dark-transparent-color: rgba(0, 0, 0, 0.5);
  --background-main-color: #121212;
  /* TODO: Improve this color. Maybe darker or more transparent? */
  --sub-section-background-color: rgba(25, 25, 25, 0.8);
  --separator-darker-color: #222222;
  --separator-dark-color: #252525;
  --button-main-color: #333333;   /* Orbit bullet */
  /* --border-main-color: #3d3d3d; (Not currently used) */
  --border-main-color: rgba(68, 68, 68, 0.25);
  --separator-main-color: #424242;
  --button-hover-color: #666666;  /* Orbit bullet */
  --text-dark-color: #777777;     /* Used in footer text */
  --menu-link-main-color: #9d9d9d;
  --text-main-color: #d9d9d9;
  --menu-link-hover-color: #ffffff;
  --link-main-color: #db5a7f;
  --link-hover-color: #d993a7;
  --separator-accent-color: #a62139;
  --highlight-color: #a92f41;
  --shadow-main-color: rgba(166, 33, 57, 1.0);
}

/* -----------------------------------
    HTML ELEMENTS
----------------------------------- */

body {
  background: #121212 url('../img/zwartevilt.png');
}

body,
.breadcrumbs li {
  color: #d9d9d9;
}

a,
.breadcrumbs a {
  color: #db5a7f;
}

a:focus,
a:hover
{
  color: #d993a7;
  text-decoration: none;
}

hr {
  border-bottom: 1px solid #424242;
}

/* -----------------------------------
    TOP BAR
----------------------------------- */

/* Prevent FOUC (Flash Of Unstyled Content) for top bar */
.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }
  .no-js .title-bar {
    display: none;
  }
}
/* End of FOUC prevention for top bar */

.top-bar {
  border-bottom: 2px solid #a62139;
  box-shadow: 0 0 7px 2px rgba(166, 33, 57, 1.0);
  padding: 0.1rem;
}

.top-bar,
.top-bar ul {
  background-color: #000000;
  color: #9d9d9d;
}

/* -----------------------------------
    MENUS
----------------------------------- */

.menu .menu-text {
  padding: 0 2.5rem;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 0.21em;
}

.menu a,
.dropdown > li > a {
  color: #9d9d9d;
}

.menu a:focus,
.menu a:hover,
.dropdown > li > a:focus,
.dropdown > li > a:hover {
  color: #ffffff;
}

.dropdown > li > a:focus,
.dropdown > li > a:hover {
  box-shadow: 0 -2px 0 0 rgba(166, 33, 57, 1.0) inset;
}

/* TODO: Add a pink box-shadow bottom to active links? */
/* .dropdown.menu > li.is-active > a,
.dropdown.menu > li.is-active > a:focus,
.dropdown.menu > li.is-active > a:hover
{
  box-shadow: 0 -2px 0 0 rgba(166, 33, 57, 1.0) inset;
} */

.dropdown.menu > li.is-active > a,
.dropdown.menu > li.is-active > a:focus
{
  color: #a62139;
}

.dropdown.menu > li.is-active > a:hover
{
  color: #a92f41;
}

/* Down arrow for opening sub-menus */
.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-color: rgba(166, 33, 57, 1.0) transparent transparent;
}

.is-dropdown-submenu.js-dropdown-active {
  border: 1px solid rgba(68, 68, 68, 0.25);
  background: rgba(0, 0, 0, 0.5);
  margin-top: 0.3rem;
}

li.is-submenu-item > a:focus,
li.is-submenu-item > a:hover {
  background: rgba(0, 0, 0, 1.0); /* TODO change to #000000 */
}

/* -----------------------------------
    THUMBNAIL
----------------------------------- */

.thumbnail {
  /* border: 1px solid rgba(68, 68, 68, 0.25); */
  /* For now, 4px border around it is fine */
  border-color: rgba(68, 68, 68, 0.25);
}

.thumbnail > img {
  width: 100%;
}

/* -----------------------------------
    ORBIT (CAROUSEL)
----------------------------------- */

.orbit-bullets button {
	background-color: #333333;
}

.orbit-bullets button:hover,
.orbit-bullets button.is-active {
	background-color: #666666;
}

#home-orbit-container {
  /* Make sure the top bar's box shadow is visible above the orbit.
   * position: relative declared in .orbit, so not needed here. */
  z-index: -1;
  border-bottom: 2px solid #222222;
  /* height: 423.25px; */
  max-height: 25em;
}

/* -----------------------------------
    CALLOUT
----------------------------------- */

.callout {
  border: 1px solid rgba(68, 68, 68, 0.25);
  /* TODO: Improve this color. Maybe darker or more transparent? */
  background-color: rgba(25, 25, 25, 0.8);
  color: #d9d9d9;
}

/* -----------------------------------
    CARD
----------------------------------- */
.card {
  /* border: 1px solid #3d3d3d; */
  border: 1px solid rgba(68, 68, 68, 0.25);
}

.card,
.card-divider {
  /* background: #333333; */
  background-color: rgba(25, 25, 25, 0.8);
  color: #d9d9d9;
}

/* -----------------------------------
    FORMS
----------------------------------- */

.input-group-label {
	/* border: 1px solid #cacaca; */
  /* background: #e6e6e6; */
  border: 1px solid rgba(68, 68, 68, 0.25);
  background: rgba(25, 25, 25, 0.8);
	color: #d9d9d9; /* TODO: Should be darker */
}

/* TODO: Find out how much this change affects */
::placeholder {
	color: #9d9d9d;
}

/* -----------------------------------
    OTHER
----------------------------------- */

#main-content-banner {
  text-align: center;
}

.blog-post-image {
  text-align: center;
}

#contact-details {
  border: 1px dashed #333333;
}

#social-media-icons p {
  margin: 0 auto;
}

#social-media-icons a {
  padding-right: 1.2rem;
}

#social-media-icons a img {
  opacity: 0.85;
}

#social-media-icons a:hover img {
  opacity: 1;
}

#footer {
  /* Required for having a sticky footer element that sticks to the bottom of
	the page no matter how much content there is */
	position: absolute;
	right: 0;
	bottom: 0;
  left: 0;
  /* Rest of footer style */
  /* margin-bottom: 0; */
  background-color: #000000;
  border-top: 2px solid #a62139;
  box-shadow: 0 0 5px 2px rgba(166, 33, 57, 1.0);
  /* margin-top: 6em; */
  padding: 1.11em 0;
}

.copyright-msg {
  border-top: 1px solid #252525;
  margin: 1.18rem 5.967rem; /* 1.48em 7.4em */
  padding-top: 0.85rem; /* 1.04em */
  color: #777777;
  font-size: 0.8em;
  text-align: right;
}

/* -----------------------------------
    HACK FOR STICKY FOOTER

Required for having a footer div that
sticks to the bottom of the page no
matter how much content the page has.
----------------------------------- */

html {
	height: 100%;
}

body {
	position: relative;
	/* margin: 0; */ /* already present */
	min-height: 100%;
	/* Must be the same as the margin-bottom of the element that is before the
	footer element */
	padding-bottom: 6em;
}

.grid-container {
	/* Must be the same as the padding-bottom of the body element */
  margin-bottom: 6em;
}
