/* Prevent FOUC (flash of unstyled content) for top bar */
.no-js .top-bar {
    display: none;
}

@media screen and (min-width: 40em) {
    .no-js .top-bar {
        display: block;
    }
    .no-js .title-bar {
        display: none;
    }
}
/* End of FOUC prevention for top bar */

div.thumbnail > img {
    width: 100%;
}

#home-orbit-container,
.orbit-slide {
    max-height: 25em;
}

#home-orbit-container {
    border-bottom: 2px solid #222222;
}

#main-content-banner {
    text-align: center;
}

.blog-post-image {
    text-align: center;
}

#contact-details {
    border: 1px dashed #333333;
}

#social-media-icons a {
    padding-right: 1.5em;
}

#social-media-icons a img {
    opacity: 0.85;
}

#social-media-icons a:hover img {
    opacity: 1;
}

.copyright-msg {
	border-top: 1px solid #252525;
	margin: 1% 5%;
	padding-top: 1%;
	color: #777777;
	font-size: 0.9em;
	text-align: right;
}
