/* elements */
html, body {
    height: 100%;
}

body {
	background: #121212 url('../img/zwartevilt.png');
    color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
}

a {
	color: #DB5A7F;
}

a:focus,
a:hover
{
	color: #D993A7;
    text-decoration: none;
}

/* Make parent element automatically expand to child elements' heights */
.parent-clear {
	clear: both;
}

/* bootstrap overrides : .thumbnail / .caption */
.thumbnail {
    background-color: transparent;
    border: none;
}

.caption p {
    color: #D9D9D9;
}

/* bootstrap overrides : .navbar-* */
.navbar {
    background-color: #000000;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 15px;
}

.navbar-inverse .navbar-nav > li > a {
	font-size: 1.2em;
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
    box-shadow: 0 -2px 0 0 #A62139 inset;
}

/* TODO: Add a pink box-shadow bottom to active links */
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover
{
    box-shadow: none;
	/* box-shadow: 0 -2px 0 0 #A62139 inset; */
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus
{
    color: #A62139;
}

.navbar-inverse .navbar-nav > .active > a:hover
{
	color: #A92F41;
}

.navbar-brand {
    font-size: 1.9em;
	font-weight: 500;
	letter-spacing: 5px;
}

#top-navbar {
	border-bottom: 2px solid #A62139;
	box-shadow: 0 0 7px 2px #A62139;
}

/* highlight-box */
#highlight-box {
    background-color: #000000;
    /* margin-bottom: 3%; */
}

/* bootstrap overrides : .carousel-* / .item */
#highlight-box,
.carousel .item,
.carousel-inner > .item > img {
    border-bottom: 2px solid #222222;
    min-height: 400px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    bottom: 25%;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 200px;
    background-color: #000000;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
}

/* banner */
.banner {
	border-style: solid none;
	border-width: 1px;
	border-color: #252525;
	padding: 0.3em 0 0.5em 0;
	clear: both;
	margin: 3% auto;
	width: 70%;
	color: #555555;
	font-size: 1.8em;
	text-align: center;
}

/* main-content */
#main-content {
	/* background-color: #131313; */
	background-color: rgb(19, 19, 19);
	background-color: rgba(19, 19, 19, 0.7);
	/* box-shadow: 0 16px 20px 6px #000000; */
	box-shadow: 0px 5px 20px 6px #000000;
	/* padding: 1% 5%; */
	/* padding: 1% 3% 2% 3%; */
	/* color: #E9E1B4; */
	color: #D9D9D9;
    width: 80%;
}

#main-content h1 {
	padding-bottom: 2%;
	/* color: #A92F41; */
	/* color: #73192A; */
	color: #A62139;
	font-weight: bold;
	font-size: 1.4em;
}

#main-content h2 {
	color: #A62139;
	font-weight: bold;
	font-size: 1.4em;
}

#main-content h3 {
	padding-bottom: 2%;
	color: #A62139;
	font-weight: bold;
	font-size: 1.2em;
}

#main-content p {
    font-size: 1em;
    line-height: 1.5em;
    padding: 1% 4%;
}

/* content-intro */
#content-intro {
	/* background-color: #191919; */
	background-color: rgb(25, 25, 25);
	background-color: rgba(25, 25, 25, 0.8);
}

#content-intro p {
	padding: 1% 0% 1% 4%;
}

/* TODO: to improve (task #2 on Taiga) */
#content-intro img {
	width: 100%;
	height: 100%;
}

/* -----------------------------------
	BLOG PAGE
----------------------------------- */

.blog-post {
	/* border: 1px solid blue; */
	border-bottom: 1px dashed #333333;
	background-color: rgb(25, 25, 25);
	background-color: rgba(25, 25, 25, 0.8);
	width: 90%;
	min-height: 218px; /* same as our avatar img height */
	margin: 2% auto;
	padding-bottom: 1%;
}

.blog-header {
	border-bottom: 1px solid #222222;
	margin-bottom: 2%;
}

.blog-title {
	padding: 2% 4% 1% 4%;
	font-weight: 600;
	color: #A62139;
	font-size: 1.4em;
}

.blog-title-320px {
	font-size: 1.2em;
}

.blog-title a, .blog-title-320px a {
	color: #A62139;
}

.blog-title a:hover {
	color: #DB5A7F;
}

.blog-meta {
	padding: 0% 4% 1% 4%;
	font-size: 0.9em;
	line-height: 1.5em;
}

/* -----------------------------------
	CONTACT PAGE
----------------------------------- */

#contact-form ul,
#contact-details ul {
	list-style: outside none none;
}

#contact-form {
	/*border: 1px dashed #333333;*/
	float: left;
	width: 47%;
	margin: 5% 2% 0 5%;
}

#contact-form ul li {
	width: 100%;
	margin-bottom: 20px;
	float: left;
}

#contact-form label {
	background-color: #171717;
	width: 22%;
	height: 25px;
	padding: 1% 4%;
	color: #AAAAAA;
	display: block;
	float: left;
}

#contact-form input {
	float: left;
	width: 58%;
	padding-left: 2%;
	height: 25px;
}

#contact-form input#submit-contact {
	float: right;
	width: 25%;
	height: 50px;
	margin-right: 8%;
}

#contact-form ul li.contact-msg {
	float: left;
	min-height: 150px;
	height: 150px;
}

#contact-form ul li.contact-msg label {
	float: left;
	min-height: 150px;
	height: 150px;
	float: left;
}

#contact-form ul li.contact-msg textarea {
	float: left;
	resize: none;
	min-height: 150px;
	height: 150px;
	width: 58%;
	padding-left: 2%;
}

#contact-details {
	border: 1px dashed #333333;
	float: left;
	width: 40%;
	margin: 6.5% 5% 0 0;
}

#contact-details ul#social-media-icons {
	border-right: 1px dashed #333333;
	float: left;
	width: 20%;
	text-align: center;
	padding: 10% 4%;
	margin-right: 8%;
}

/* footer */
#footer {
    margin-bottom: 0;
    margin-top: 4%;
	background-color: #000000;
	border-top: 2px solid #A62139;
	box-shadow: 0 0 5px 2px #A62139;
    padding: 1% 0;
}

.copyright-msg {
	border-top: 1px solid #252525;
	margin: 1% 5%;
	padding-top: 1%;
	color: #777777;
	font-size: 0.9em;
	text-align: right;
}