// Import Bulma's core

@import "~bulma/sass/utilities/_all";

// Custom colors ???

$twitter: hsl(212, 100%, 63%);
$twitter-invert: findColorInvert($twitter);

// Override Bulma initial variables
// (~bulma/sass/utilities/initial-variables.sass)

// Responsiveness

// Needed to make containers smaller on desktop
// See: https://bulma.io/documentation/layout/container/#overview
// Not sure if I want to keep these or not. Maybe remove only fullhd.
// $widescreen-enabled: false;
$fullhd-enabled: false;

// Override Bulma derived variables
// (~bulma/sass/utilities/derived-variables.scss)

// Lists and maps

$custom-colors: (
  "phix-background-main-color": hsl(0, 0%, 7%),
  "phix-background-dark-color": hsl(0, 0%, 0%),
  "phix-background-lighter-color": hsla(0, 0%, 16%, 0.8),
  "phix-background-light-color": hsl(0, 0%, 13%),
  "phix-background-dark-transparent-color": hsla(0, 0%, 0%, 0.5),
  // TODO: Improve this color. Maybe darker or more transparent?
  "phix-background-sub-section-color": hsla(0, 0%, 10%, 0.8),
  // "phix-background-sub-section-color": hsl(0, 0%, 90%),
  // "phix-border-main-color": hsl(0, 0%, 24%),
  // "phix-border-main-color": hsl(0, 0%, 79%),
  "phix-border-main-color": hsla(0, 0%, 27%, 0.25),
  "phix-border-lighter-color": hsl(0, 0%, 31%),
  "phix-border-light-color": hsl(0, 0%, 22%),
  "phix-text-main-color": hsl(0, 0%, 85%),
  "phix-text-dark-color": hsl(0, 0%, 47%), // #777777
  "phix-link-main-color": hsl(343, 64%, 61%),
  "phix-link-hover-color": hsl(343, 48%, 71%),
  "phix-menu-link-main-color": hsl(0, 0%, 62%),
  "phix-menu-link-hover-color": hsl(0, 0%, 100%),
  "phix-separator-main-color": hsl(0, 0%, 26%),
  "phix-separator-dark-color": hsl(0, 0%, 15%),
  "phix-separator-accent-color": hsl(349, 67%, 39%),
  // Shadow can be lighter/darker than accent, if desired
  "phix-shadow-main-color": hsl(349, 67%, 39%),
  // Carousel indicators
  "phix-button-main-color": hsl(0, 0%, 20%),
  "phix-button-hover-color": hsl(0, 0%, 40%),
  "twitter": $twitter,
  "twitter-invert": $twitter-invert
);

$primary: hsl(256, 81%, 67%);

// General colors

$scheme-main: $black;
$scheme-main-bis: $black-bis;
$scheme-main-ter: $black-ter;
$scheme-invert: $white;
$scheme-invert-bis: $white-bis;
$scheme-invert-ter: $white-ter;

// $background: $primary;
// $background: $black-ter; // I think I prefer this
$background: $black-bis; // hsl(0, 0%, 7%);

// Text colors

$text: hsl(0, 0%, 85%); // TODO too light, see no-bs-looper
$text-light: hsl(0, 0%, 62%);
$text-strong: hsl(0, 0%, 47%);

// Link colors -- TODO: Add hover, active, etc.

$link: $primary;
$link-focus-border: $primary;

// $link              : $blue;
// $link-invert       : findColorInvert($link);
// $link-light        : findLightColor($link);
// $link-dark         : findDarkColor($link);
// $link-visited      : $purple;

// $link-hover        : $grey-darker;
// $link-hover-border : $grey-light;

// $link-focus        : $grey-darker;
// $link-focus-border : $blue;

// $link-active       : $grey-darker;
// $link-active-border: $grey-dark;

// Override $colors map (not sure if needed)

// $colors: (
//   "white": ($white, $black),
//   "black": ($black, $white),
//   "light": ($light, $light-invert),
//   "dark": ($dark, $dark-invert),
//   "primary": ($primary, $primary-invert),
//   "info": ($info, $info-invert),
//   "success": ($success, $success-invert),
//   "warning": ($warning, $warning-invert),
//   "danger": ($danger, $danger-invert),
//   "twitter": ($twitter, $twitter-invert)
// );

// Override Bulma generic variables
// (~bulma/sass/base/generic.sass)

$body-background-color: $black-bis;

$hr-background-color: map-get($custom-colors, "phix-separator-main-color");
$hr-height: 1px;

// Navbar -- TODO: Move colors to variables
// (~bulma/sass/components/navbar.sass)

// $navbar-dropdown-background-color: $scheme-invert;
// TODO reduce transparency
$navbar-dropdown-background-color: hsla(0, 0%, 0%, 0.5);
$navbar-box-shadow-color: map-get($custom-colors, "phix-shadow-main-color");

// $navbar-dropdown-item-hover-color: hsl(0, 0%, 100%);
// $navbar-dropdown-item-hover-background-color: $scheme-invert;
// $navbar-dropdown-item-active-color: $link;
// $navbar-dropdown-item-active-background-color: $background;

// $navbar-divider-background-color: $background

// Footer
// (~bulma/sass/layout/footer.sass)

$footer-background-color: $scheme-main;
$footer-color: map-get($custom-colors, "phix-text-dark-color");
$footer-padding: 3rem 6rem 4rem;

$footer-box-shadow-size: 0 -2px 0 0;
$footer-box-shadow-color: map-get($custom-colors, "phix-shadow-main-color");

.footer {
  box-shadow: $footer-box-shadow-size $footer-box-shadow-color;
}

// Import Bulma and Buefy styles

@import "~bulma";
@import "~buefy/src/scss/buefy";
