// Import Bulma's core

@import "~bulma/sass/utilities/_all";

// Bulma: Utilities

// Initial variables
// (~bulma/sass/utilities/initial-variables.sass)

// Responsiveness

// Needed to make containers smaller on desktop
// See: https://bulma.io/documentation/layout/container/#overview
// Not sure if I want to keep these or not. Maybe remove only fullhd.
// $widescreen-enabled: false;
$fullhd-enabled: false;

// Derived variables
// (~bulma/sass/utilities/derived-variables.scss)

// Lists and maps

// Phixed Dark theme colors
$custom-colors: (
  "primary-background-color": hsl(0, 0%, 7%), // u
  "secondary-background-color": hsl(0, 0%, 13%),
  "accent-background-color": hsl(0, 0%, 0%),
  // TODO: Reduce transparency (for navbar dropdown bg?)
  "accent-background-color-transparent": hsla(0, 0%, 0%, 0.5),

  // TODO: Improve this color. Maybe darker or more transparent?
  "primary-container-color": hsla(0, 0%, 10%, 0.8), // u
  "secondary-container-color": hsl(0, 0%, 14%), // u
  "accent-container-color": hsl(0, 0%, 17%), // u
  // Also good, but couldn't decide between them
  // "accent-container-color": hsl(0, 0%, 18%),

  "primary-border-color": hsla(0, 0%, 27%, 0.25), // u
  // "primary-border-color": hsl(0, 0%, 24%),
  "secondary-border-color": hsl(0, 0%, 20%),
  "accent-border-color": hsl(0, 0%, 36%), // u
  // Also good?
  // "accent-border-color": hsl(0, 0%, 31%),
  "primary-separator-color": hsl(0, 0%, 26%),
  "secondary-separator-color": hsl(0, 0%, 15%),

  // Accent colors that make the theme "pop"
  "primary-accent-color": hsl(349, 67%, 39%),
  // Mainly used as shadow and can be lighter/darker than primary accent
  "secondary-accent-color": hsl(349, 67%, 39%), // u

  // Text colors
  // "primary-text-color": hsl(0, 0%, 85%), // too light?
  "primary-text-color": hsl(0, 0%, 69%), // might be too dark
  "secondary-text-color": hsl(0, 0%, 47%),
  "text-color-ter": hsl(0, 0%, 54%),
  "primary-link-color": hsl(343, 64%, 61%),
  "secondary-link-color": hsl(343, 48%, 71%),
  "primary-menu-link-color": hsl(0, 0%, 62%),
  "secondary-menu-link-color": hsl(0, 0%, 92%), // u

  // Misc colors
  "twitter": hsl(212, 100%, 63%) // u
);

// $primary: hsl(256, 81%, 67%);
$primary: map-get($custom-colors, "primary-link-color");

// General colors

$scheme-main: $black;
$scheme-main-bis: $black-bis;
$scheme-main-ter: $black-ter;
$scheme-invert: $white;
$scheme-invert-bis: $white-bis;
$scheme-invert-ter: $white-ter;

// $background: $black-ter; // I think I prefer this
$background: $black-bis; // hsl(0, 0%, 7%);

// Text colors

$text: map-get($custom-colors, "primary-text-color");
$text-light: map-get($custom-colors, "primary-menu-link-color");
$text-strong: map-get($custom-colors, "primary-text-color");

// Link colors

$link: map-get($custom-colors, "primary-link-color");
// $link-invert: findColorInvert($link);
$link-light: map-get($custom-colors, "secondary-link-color");
// $link-dark: findDarkColor($link);
$link-visited: map-get($custom-colors, "primary-link-color");

$link-hover: map-get($custom-colors, "secondary-link-color");
$link-hover-border: map-get($custom-colors, "secondary-link-color");

$link-focus: map-get($custom-colors, "secondary-link-color");
$link-focus-border: map-get($custom-colors, "primary-link-color");

$link-active: map-get($custom-colors, "secondary-link-color");
$link-active-border: map-get($custom-colors, "primary-link-color");

// Only show outline on :focus for accessibility, not when mouse click is held
// on a link.
a:active {
  outline: none;
}

// Bulma: Base

// Generic variables
// (~bulma/sass/base/generic.sass)

$body-background-color: $black-bis;
$body-overflow-x: scroll; // Debug
$body-overflow-y: auto;

$hr-background-color: map-get($custom-colors, "primary-separator-color");
$hr-height: 1px;

// Bulma: Components

// Card
// (~bulma/sass/components/card.sass)

$card-shadow: 0 0em 0em 0.0625rem map-get($custom-colors, "secondary-background-color"), 0 0 0 0.0625rem map-get($custom-colors, "secondary-background-color");

$card-header-shadow: 0 0.125rem 0 rgba($scheme-invert, 0.1);
// $card-header-shadow: none;

.card-image {
  border: 1px solid map-get($custom-colors, "secondary-separator-color");
}

// Navbar
// (~bulma/sass/components/navbar.sass)

$navbar-box-shadow-color: map-get($custom-colors, "primary-accent-color");

$navbar-dropdown-background-color: map-get($custom-colors, "accent-background-color-transparent");

// $navbar-dropdown-item-hover-color: $scheme-invert;
// $navbar-dropdown-item-active-color: $link;
// $navbar-dropdown-item-active-background-color: $background;

// Bulma: Elements

// Content
// (~bulma/sass/elements/content.sass)

$content-heading-color: map-get($custom-colors, "primary-text-color");
$content-heading-weight: $weight-normal;

// Title
// (~bulma/sass/elements/title.sass)

$title-color: map-get($custom-colors, "primary-text-color");
$subtitle-color: map-get($custom-colors, "text-color-ter");

// Bulma: Layout

// Footer
// (~bulma/sass/layout/footer.sass)

$footer-background-color: $scheme-main;
$footer-color: map-get($custom-colors, "secondary-text-color");
$footer-padding: 3rem 6rem 4rem;

$footer-box-shadow-size: 0 -2px 0 0;
$footer-box-shadow-color: map-get($custom-colors, "primary-accent-color");

.footer {
  box-shadow: $footer-box-shadow-size $footer-box-shadow-color;
}

// End of Bulma overrides

// Import Bulma and Buefy styles

@import "~bulma";
@import "~buefy/src/scss/buefy";

// Scrollbars -- TODO

// Emerging W3C standard (currently Firefox only)
// * {
//   scrollbar-width: thin;
//   scrollbar-color: #494949 #363636;
// }

// // Works on Chrome/Edge/Safari
// *::-webkit-scrollbar {
//   width: 0.75rem;
// }
// *::-webkit-scrollbar-track {
//   background: #363636;
// }
// *::-webkit-scrollbar-thumb {
//   background-color: #494949;
//   border-radius: 20px;
//   border: 3px solid #363636;
// }
